:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --black: #181818;

  --header: #f60;
  --header-text: var(--white);

  --nav: var(--white);

  /* nav item text */
  --nav-item: var(--black);
  --nav-item-active: var(--black);

  --nav-item-svg: var(--header);
  --nav-item-svg-active: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--black);
  background-color: var(--white);
}

#root {
  height: 100svh;
}
